table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }


  .form-inline .form-control {
    display: inline-block;
    width: 84%;
    vertical-align: middle;
}