

 /* .sidebar-wrapper {
    overflow-x: hidden;
    height: 100vh;
    background: linear-gradient(90deg, rgb(255 255 255 / 91%) 0%, rgb(189 231 245 / 18%) 35%, rgb(0 161 255 / 21%) 100%);
} */

/* bkp azul  */
/* .sidebar-wrapper{
    overflow-x: hidden;
    height: 100vh;
    background: linear-gradient(98deg, rgb(195 237 196 / 35%) 0%, rgb(0 125 251) 35%, rgb(12 179 65 / 65%) 100%);
    background: linear-gradient(119deg, rgb(75 111 201 / 64%) 0%, rgb(46 130 255) 35%, rgb(64 67 181) 100%);
    background-color: #fff9f94d;
    box-shadow: 1px 0px #08af0bf0;
} */

.sidebar-wrapper{
    /* overflow-x: hidden;
    height: 100vh;
    background: linear-gradient(119deg, rgb(104 127 241 / 64%) 0%, rgb(49 215 239) 35%, rgb(255 255 255) 100%);
    background-color: #fff9f94d;
    box-shadow: 1px 0px #ff00000d; */


    overflow-x: hidden;
    height: 100vh;
    background: linear-gradient(119deg, rgb(28 28 26 / 64%) 0%, rgb(54 49 44) 35%, rgb(22 21 20) 100%);
    background-color: #0000004d;
    box-shadow: 1px 0px #ff00000d;
}

a,p,i{
    color: rgb(255, 255, 255);
}

h3, .h3 {
    font-size: 2em;
    margin-bottom: -3px;
    line-height: 1.4em;
    margin-top: 0.5em;
}