<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Minhas Staks</div>
      <div class="card-body">
        <div id="graficoStaks"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2 align="center">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"
            width="50"
            height="50"
          />&nbsp;
          <b style="color: #f03c15">J</b>
          <b style="color: rgb(81 226 92)">A</b>
          <b style="color: rgb(227 99 187)">V</b>
          <b style="color: rgb(137 136 124)">A</b>&nbsp;
          <b style="color: rgb(74 245 213)">S</b>
          <b style="color: rgb(14, 6, 76)">C</b>
          <b style="color: rgb(36, 230, 32)">R</b>
          <b style="color: rgb(29, 43, 202)">I</b>
          <b style="color: rgb(110, 31, 110)">P</b>
          <b style="color: rgb(233, 137, 28)">T</b>
        </h2>
      </div>
      <div class="card-body">
        <button
          (click)="f_clickTrueOrFalse('1')"
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseSeven"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseSeven"
        >
          <div>Ver mais</div>
        </button>

        <div
          id="panelsStayOpen-collapseSeven"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingSeven"
        >
          <div class="accordion-body">
            <strong
              >- Ultilizando JavaScript como umas das linguagem principal da
              minha STAKs, para contrução de funções e automatização de
              processo.</strong
            >
            <br />
            - Desenvolvimento de aplicativos e sistemas web.<br />
            <strong>- Desenvolvimento de API e sistemas web. </strong> <br />
            - Experiência 3 anos ultilizando Java Script. <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2 align="center">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg"
            width="50"
            height="50"
          />&nbsp;
          <b style="color: #f03c15">T</b>
          <b style="color: rgb(81 226 92)">Y</b>
          <b style="color: rgb(227 99 187)">P</b>
          <b style="color: rgb(137 136 124)">E</b>&nbsp;
          <b style="color: rgb(74 245 213)">S</b>
          <b style="color: rgb(14, 6, 76)">C</b>
          <b style="color: rgb(36, 230, 32)">R</b>
          <b style="color: rgb(29, 43, 202)">I</b>
          <b style="color: rgb(110, 31, 110)">P</b>
          <b style="color: rgb(233, 137, 28)">T</b>
        </h2>
      </div>
      <div class="card-body">
        <button
          (click)="f_clickTrueOrFalse('2')"
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseSix"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFor"
        >
          Ver mais
        </button>

        <div
          id="panelsStayOpen-collapseSix"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingSix"
        >
          <div class="accordion-body">
            <strong
              >- Ultilizando TypeScript para contrução de funções e
              automatização de processo e aplicações que justa de performace e
              escalabilidade.</strong
            >
            <br />
            - Desenvolvimento de aplicativos e sistemas web.<br />
            <strong>- Desenvolvimento com FrameWork Angular e Ionic.</strong>
            <br />
            - Programação Orientada a Objetos<br />
            <strong>- Desenvolvimento de API e sistemas web. </strong> <br />
            - Experiência 3 anos ultilizando TypeScript. <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2 align="center">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
            width="50"
            height="50"
          />&nbsp;
          <b style="color: #f03c15">A</b>
          <b style="color: rgb(81 226 92)">N</b>
          <b style="color: rgb(227 99 187)">G</b>
          <b style="color: rgb(137 136 124)">U</b>
          <b style="color: rgb(74 245 213)">L</b>
          <b style="color: rgb(14, 6, 76)">A</b>
          <b style="color: rgb(240, 251, 249)">R</b>
        </h2>
      </div>
      <div class="card-body">
        <button
          (click)="f_clickTrueOrFalse('3')"
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFive"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFor"
        >
          Ver mais
        </button>

        <div
          id="panelsStayOpen-collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingFive"
        >
          <div class="accordion-body">
            <strong
              >- Utilizo para front-end dos projetos, Angular como FrameWork
              principal.</strong
            >
            <br />
            - Desenvolvimento de aplicativos e sistemas Web.<br />
            <strong>- Responsividade e PWA.</strong> <br />
            - Experiência 3 anos ultilizando Angular. <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2 align="center">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg"
            width="50"
            height="50"
          />&nbsp;
          <b style="color: #f03c15">N</b>
          <b style="color: rgb(81 226 92)">O</b>
          <b style="color: rgb(227 99 187)">D</b>
          <b style="color: rgb(137 136 124)">E</b>
        </h2>
      </div>
      <div class="card-body">
        <button
          (click)="f_clickTrueOrFalse('4')"
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFor"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFor"
        >
          Ver mais
        </button>

        <div
          id="panelsStayOpen-collapseFor"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingFor"
        >
          <div class="accordion-body">
            <strong
              >- Utilizo para criação de APIs o NodeJS, auxiliado com outras
              bibliotecas como Express para contruir Interface REST, RESTFULL
            </strong>
            <br />
            - Desenvolvimento com Express, Sequelize, Knex e muito outros.<br />
            <strong
              >- Banco de dados para auxiliar SQL, MySQL, SQLite, MongoDB e
              Elasticsearch.</strong
            >
            <br />
            - Experiência 3.5 anos ultilizando NodeJs. <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2 align="center">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ionic/ionic-original.svg"
            width="50"
            height="50"
          />&nbsp;
          <b style="color: #f03c15">I</b>
          <b style="color: rgb(81 226 92)">O</b>
          <b style="color: rgb(227 99 187)">N</b>
          <b style="color: rgb(137 136 124)">I</b>
          <b style="color: rgb(74 245 213)">C</b>
        </h2>
      </div>
      <div class="card-body">
        <button
          (click)="f_clickTrueOrFalse('5')"
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThree"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThree"
        >
          Ver mais
        </button>

        <div
          id="panelsStayOpen-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingThree"
        >
          <div class="accordion-body">
            <strong
              >- Utilizo para criação de Aplciativos Mobile o Ionic, gerar
              aplicativos que automatiza processos e auxiliar grandes
              sistemas.</strong
            >
            <br />
            - Desenvolvimento com Angular e TypeScript para criação de APKs.<br />
            <strong
              >- Para auxiliar AngularMaterial, Bootstrap e Android
              Studio.</strong
            >
            <br />
            - Experiência 3.5 anos ultilizando Ionic. <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
