.sidebar-wrapper[_ngcontent-hfm-c105] {
    overflow-x: hidden;
    height: 100vh;
    background: linear-gradient(98deg, rgb(195 237 196 / 35%) 0%, rgb(0 125 251) 35%, rgb(12 179 65 / 65%) 100%);
    background: linear-gradient(119deg, rgb(75 111 201 / 64%) 0%, rgb(46 130 255) 35%, rgb(12 179 65) 100%);
    background-color: #fff9f94d;
    box-shadow: 1px 0px #08af0bf0;
    color: white;
}